.footer1 {
    position: absolute;
    width: 724px;
    height: 248px;
    left: 95px;
    top: 1691px;
}

.footer2 {
    position: absolute;
    width: 724px;
    height: 248px;
    left: 899px;
    top: 1691px;
}

.footer3 {
    position: absolute;
    width: 724px;
    height: 248px;
    left: 1703px;
    top: 1691px;
}

.footer4 {
    position: absolute;
    width: 219px;
    height: 248px;
    left: 2531px;
    top: 1691px;
}